
table{
    background-color: white;
    border-radius: 20px;
    border: 1px solid green;

}
.main{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 900px;
}
th{
    background-color: rgba(164, 235, 109, 0.1);
}
button{
    border-radius: 10%; 
    border: none;
    margin: auto;
}
.save-button{
    background-color: rgba(97, 219, 109, 0.216);
}
.edit-button{
    background-color: rgba(72, 134, 90, 0.13);
}
.delete-button{
    background-color: rgba(143, 217, 101, 0.296);
}
